.book {
    clear: both;
    overflow: auto;
    height: calc(100% - 60px);
    padding-bottom: 60px;
}

.cover {
    max-width: 100%;
}

#articleName {
    position: fixed;
    z-index: 1;
}

#content {
    line-height: 150%;
    font-weight: 400;
    font-size: 22px;
    color: #333;
    background-color: #FBF6EC;
    border-radius: 10px;
    padding: 0 3%;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.ivu-select-item#select{
    background-color: #fff9e6;
}
